In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./nutrition-drinks.csv')

In [4]:
df.head(5)

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10

In [5]:
df.tail(5)

              Unnamed: 0 Calories Fat (g) Carb. (g) Fiber (g) Protein Sodium
172   Chocolate Smoothie      320       5        53         8      20    170
173  Strawberry Smoothie      300       2        60         7      16    130
174           Ginger Ale        -       -         -         -       -      -
175            Lemon Ale        -       -         -         -       -      -
176    Orange Cream Soda        -       -         -         -       -      -

In [6]:
df.shape

(177, 7)

In [7]:
df.columns

Index(['Unnamed: 0', 'Calories', 'Fat (g)', 'Carb. (g)', 'Fiber (g)',
       'Protein', 'Sodium'],
      dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=177, step=1)

In [9]:
df['Unnamed: 0'].unique()

array(['Cool Lime Starbucks Refreshers™ Beverage', 'Ombré Pink Drink',
       'Pink Drink', 'Strawberry Acai Starbucks Refreshers™ Beverage',
       'Very Berry Hibiscus Starbucks Refreshers™ Beverage',
       'Violet Drink', 'Evolution Fresh™ Cold-Pressed Apple Berry Juice',
       'Evolution Fresh™ Defense Up',
       'Evolution Fresh™ Organic Ginger Limeade', 'Iced Coffee',
       'Iced Coffee with Milk', 'Iced Espresso Classics - Vanilla Latte',
       'Iced Espresso Classics - Caffe Mocha',
       'Iced Espresso Classics - Caramel Macchiato',
       'Starbucks® Caramel Iced Coffee', 'Starbucks® Iced Coffee + Milk',
       'Starbucks® Low Calorie Iced Coffee + Milk',
       'Starbucks® Vanilla Iced Coffee', 'Shaken Sweet Tea',
       'Tazo® Bottled Berry Blossom White', 'Tazo® Bottled Black Mango',
       'Tazo® Bottled Black with Lemon', 'Tazo® Bottled Brambleberry',
       'Tazo® Bottled Giant Peach', 'Tazo® Bottled Iced Passion',
       'Tazo® Bottled Lemon Ginger',
       'Tazo® Bottled Organic Black Lemonade',
       'Tazo® Bottled Organic Iced Black Tea',
       'Tazo® Bottled Organic Iced Green Tea',
       'Tazo® Bottled Plum Pomegranate', 'Tazo® Bottled Tazoberry',
       'Tazo® Bottled White Cranberry', 'Teavana® Shaken Iced Black Tea',
       'Teavana® Shaken Iced Black Tea Lemonade',
       'Teavana® Shaken Iced Green Tea',
       'Teavana® Shaken Iced Green Tea Lemonade',
       'Teavana® Shaken Iced Passion Tango™ Tea',
       'Teavana® Shaken Iced Passion Tango™ Tea Lemonade',
       'Teavana® Shaken Iced Peach Green Tea',
       'Iced Espresso Classics - Skinny Caramel Macchiato',
       'Iced Espresso Classics - Skinny Vanilla Latte',
       'Starbucks Doubleshot® Energy Coffee Drink',
       'Starbucks Doubleshot® Energy Mexican Mocha',
       'Starbucks Doubleshot® Energy Mocha Drink',
       'Starbucks Doubleshot® Energy Vanilla Drink',
       'Starbucks Doubleshot® Energy White Chocolate Drink',
       'Starbucks Doubleshot® Energy+Cinnamon Dolce Drink',
       'Starbucks Doubleshot® Espresso Cubano',
       'Starbucks Doubleshot® Espresso Drink',
       'Starbucks Doubleshot® Espresso Salted Caramel Cream',
       'Starbucks Doubleshot® Light Espresso Drink',
       'Starbucks Doubleshot® Protein Caramel',
       'Starbucks Refreshers™ Raspberry Pomegranate',
       'Starbucks Refreshers™ Strawberry Lemonade',
       'Starbucks® Bottled Caramel Frappuccino® Coffee Drink',
       'Starbucks® Bottled Coffee Frappuccino® Coffee Drink',
       'Starbucks® Bottled Cold Brew Black, Unsweetened',
       'Starbucks® Bottled Cold Brew Cocoa and Honey with Cream',
       'Starbucks® Bottled Dulce de Leche Frappuccino® Coffee Drink',
       'Starbucks® Bottled Mocha Frappuccino® Coffee Drink',
       'Starbucks® Bottled Mocha Light Frappuccino® Coffee Drink',
       "Starbucks® Bottled S'mores Frappuccino® Coffee Drink",
       'Starbucks® Bottled Vanilla Frappuccino® Coffee Drink',
       'Starbucks® Bottled Vanilla Light Frappuccino® Coffee Drink',
       'Starbucks® Doubleshot Protein Dark Chocolate',
       'Starbucks® Doubleshot Protein Vanilla',
       'Starbucks® Iced Coffee Caramel',
       'Starbucks® Iced Coffee Light Sweetened',
       'Starbucks® Iced Coffee Unsweetened',
       'Starbucks® Refreshers™ - Black Cherry Limeade with Coconut Water',
       'Teavana® Mango Black Tea', 'Teavana® Passion Tango® Herbal Tea',
       'Teavana® Peach Green Tea',
       'White Chocolate Mocha Bottled Frappuccino', 'Blonde Roast',
       'Caffè Misto', 'Clover® Brewed Coffee', 'Coffee Traveler',
       'Decaf Pike Place® Roast', 'Featured Dark Roast',
       'Nariño 70 Cold Brew', 'Nariño 70 Cold Brew with Milk',
       'Nitro Cold Brew', 'Nitro Cold Brew with Sweet Cream',
       'Pike Place® Roast', 'Toasted Coconut Cold Brew',
       'Vanilla Sweet Cream Cold Brew', 'Hot Chocolate',
       'Starbucks® Signature Hot Chocolate', 'Caffè Americano',
       'Caffè Latte', 'Caffè Mocha', 'Cappuccino', 'Caramel Macchiato',
       'Cascara Coconutmilk Latte', 'Cinnamon Dolce Latte',
       'Coconutmilk Mocha Macchiato', 'Espresso', 'Espresso Con Panna',
       'Espresso Macchiato', 'Flat White', 'Iced Caffè Americano',
       'Iced Caffè Latte', 'Iced Caffè Mocha', 'Iced Caramel Macchiato',
       'Iced Cascara Coconutmilk Latte', 'Iced Cinnamon Dolce Latte',
       'Iced Coconutmilk Mocha Macchiato',
       'Iced Skinny Cinnamon Dolce Latte', 'Iced Skinny Mocha',
       'Iced Vanilla Latte', 'Iced White Chocolate Mocha',
       'Latte Macchiato', 'Skinny Mocha',
       'Starbucks Doubleshot® on Ice Beverage', 'Vanilla Latte',
       'White Chocolate Mocha',
       'Caffè Vanilla Frappuccino® Blended Coffee',
       'Caffè Vanilla Light Frappuccino® Blended Coffee',
       'Caramel Cocoa Cluster Frappuccino® Blended Coffee',
       'Caramel Frappuccino® Blended Coffee',
       'Caramel Light Frappuccino® Blended Coffee',
       'Chai Crème Frappuccino® Blended Crème',
       'Cinnamon Dolce Frappuccino® Blended Coffee',
       'Cinnamon Dolce Light Frappuccino® Blended Coffee',
       'Cinnamon Roll Frappuccino® Blended Coffee',
       'Coffee Frappuccino® Blended Coffee',
       'Coffee Light Frappuccino® Blended Coffee',
       'Cupcake Crème Frappuccino® Blended Crème',
       'Green Tea Crème Frappuccino® Blended Crème',
       'Java Chip Frappuccino® Blended Coffee',
       'Java Chip Light Frappuccino® Blended Coffee',
       'Lemon Bar Crème Frappuccino® Blended Crème',
       'Midnight Mint Mocha Frappuccino® Blended Coffee',
       'Midnight Mint Mocha Frappuccino® Blended Crème',
       'Mocha Frappuccino® Blended Coffee',
       'Mocha Light Frappuccino® Blended Coffee',
       'Oprah Cinnamon Chai Crème Frappuccino® Blended Crème',
       'Red Velvet Cake Crème Frappuccino® Blended Crème',
       "S'mores Frappuccino® Blended Coffee",
       "S'mores Frappuccino® Blended Crème",
       'Strawberries & Crème Frappuccino® Blended Crème',
       'The Pokémon™ GO Frappuccino® Blended Beverage',
       'Vanilla Bean Crème Frappuccino® Blended Crème',
       'White Chocolate Mocha Frappuccino® Blended Coffee',
       'Cinnamon Dolce Crème', 'Organic Chocolate Milk Box',
       'Steamed Apple Juice', 'Vanilla Crème', 'Chocolate Smoothie',
       'Strawberry Smoothie', 'Ginger Ale', 'Lemon Ale',
       'Orange Cream Soda'], dtype=object)

In [10]:
df['Unnamed: 0'].nunique()

154

In [11]:
print(df.dtypes)

Unnamed: 0    object
Calories      object
Fat (g)       object
Carb. (g)     object
Fiber (g)     object
Protein       object
Sodium        object
dtype: object

The first column or [Unnamed: 0] is categorical nominal as it contains non nuerical objects which cannot be ordered or ranked.

Rest all are numerical values which can can occur over a range. Thus can be termed as Numerical Continous.

In [12]:
df.isnull().sum()

Unnamed: 0    0
Calories      0
Fat (g)       0
Carb. (g)     0
Fiber (g)     0
Protein       0
Sodium        0
dtype: int64

In [13]:
df.isna().sum()

Unnamed: 0    0
Calories      0
Fat (g)       0
Carb. (g)     0
Fiber (g)     0
Protein       0
Sodium        0
dtype: int64

In [14]:
import numpy as np

I am not able to remove the null data types as it is not recognising any although providing an error on functions such as mean. Thus I am not able to move forward on this file. PLEASE HELP.

In [17]:
df['Calories'].mean()

TypeError: Could not convert string '45--8060---1100-130140130----8060150140140150701201406012014015014030703070309060130140130-------------9090-----------210200-605010---601501401401507012014060120140150140----5-10-555-505705-110320430-190290120250-260250---180-130230250-200260--190300190190-45250360------350---110-------280140--------200--200320300---' to numeric